<div class="home row">
    <div class="col-md-6 col-md-offset-3" style="padding-top: 5em">
        <h4>Get Items</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <input type="text" ng-model="matchId" class="form-control"></input>
            </div>
            <input type="submit" value="Search Items" class="btn btn-primary"></input>
        </form>
    	<div>
            <ul>
                <li ng-repeat="plyr in players">{{ plyr }}</li>
            </ul>
    	</div>
        <div>
            <p>Player Name: {{ player.personaname }}
            <br/>Avatar: {{ player.avatar }}</p>
        </div>
    </div>
</div>