<div class="home">
    <div class="" style="padding-top: 5em">
        <h4>Get Items</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <input type="text" ng-model="matchId" class="form-control"></input>
            </div>
            <input type="submit" value="Search Items" class="btn btn-primary"></input>
        </form>
    	<div>
            <ul ng-cloak>
                <li ng-repeat="player in players"> 
                    <div ng-if="player.personaname">
                        Player: {{ player.personaname }}
                    </div> <br/>
                    <div ng-if="player">
                        {{ player | json:4 }}
                    </div>
                </li>
            </ul>
    	</div>
    </div>
</div>