<div class="home">
    <div class="" style="padding-top: 5em">
        <h4>Get Items</h4>
        <form ng-submit="submit()">
            <div class="form-group">
                <input type="text" ng-model="matchId" class="form-control" placeholder="Enter Match ID..."></input>
            </div>
            
            <input type="submit" value="Retrieve Match" class="btn btn-primary"></input>
        </form>
        <div class="alert" ng-class="{ 'alert-danger': matchId.length < length }" ng-show="matchId.length < length">
            <p>Your Match ID is too short</p>
        </div>
    	<div>
            <table class="table table-condensed table-hover" nstyle="padding-top: 2em" ng-cloak>
                <caption ng-if="players">Summary of Match {{ matchId }}</caption>
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Hero</th>
                        <th>Level</th>
                        <th>Kills</th>
                        <th>Deaths</th>
                        <th>Assists</th>
                        <th>Gold</th>
                        <th>GPM</th>
                        <th>XPM</th>
                        <th>Hero Damage</th>
                        <th>Tower Damage</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="player in players">
                        <td>{{ player.personaname }}</td>
                        <td>{{ player.hero_id }}</td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.kills }}</td>
                        <td>{{ player.deaths }}</td>
                        <td>{{ player.assists }}</td>
                        <td>{{ player.gold }}</td>
                        <td>{{ player.gold_per_min }}</td>
                        <td>{{ player.xp_per_min }}</td>
                        <td>{{ player.hero_damage }}</td>
                        <td>{{ player.tower_damage }}</td>
                    </tr>
                </tbody>
            </table>
    	</div>
    </div>
</div>